#if ( $showWarning && $deniedGroups )
    <div class="warningPanel">
        $action.getText("userlister.contains.blacklisted.groups.in.result")
        <ul id="userlister_denied_group_list">
            #foreach ($deniedGroup in $deniedGroups)
                <li>$generalUtil.htmlEncode( $deniedGroup )</li>
            #end
        </ul>
    </div>
#end

$generalUtil.htmlEncode($!emptyGroups)
#foreach ($userlist in $userlists)
 <table class="grid" id="userlister_group_${generalUtil.htmlEncode( $userlist.group )}">
     <tr>
         <th>$action.getText("userlister.group"): #if ($userlist.useSpecificGroupName) $generalUtil.htmlEncode($userlist.group) #else $action.getText("userlister.group.allusers") #end #if (!$allUserStatuses) #if ($online == true) ($action.getText("userlister.group.online")) #else ($action.getText("userlister.group.offline")) #end #end</th>
     </tr>

     #foreach ($user in $userlist.users)
     <tr>
         <td><img src=#if ($user.loggedIn) "$req.contextPath/images/icons/user_16.gif" #else "$req.contextPath/images/icons/user_bw_16.gif" #end height="16" width="16" border="0" align="absmiddle" />
             <a href="$req.contextPath/display/~$generalUtil.doubleUrlEncode($user.name)">$generalUtil.htmlEncode($user.fullName)</a> <span class="smalltext">($user.name)</span><br>
             <span class="smalltext">$!generalUtil.maskEmail($user.email)</span>
         </td>
     </tr>
     #end
 </table>
#end
